<p><strong>Analysis of Compilation Complexity of CISC and RISC Architectures</strong></p>
<p>Final Project Proposal</p>
<p>CIS 570, Fall 2020</p>
<p>Grady Landers: <a href="mailto:glanders@umassd.edu"><strong>glanders@umassd.edu</strong></a></p>
<p>Andrew Singley: <a href="mailto:asingley@umassd.edu"><strong>asingley@umassd.edu</strong></a></p>
<p>Description:</p>
<p>The hypothesis of this project claims compilation of high-level languages targeting Reduced Instruction Set Computer (RISC) architectures has higher complexity than Complex Instruction Set Computer (CISC) architectures because more Instruction Set Architecture (ISA) instructions need to be compiled to compensate for the reduced instruction set size. This project will attempt to assert the validity of this hypothesis by cross compiling non-trivial programs targeting a sample set of CISC and RISC ISAs. A variety of compilers, optimization settings, and program types.</p>
<p>Very little research analyzing the complexity of compiling for CISC and RISC has been discovered from a couple hours of searching. Senior Software Engineer at Apple, Rustam Muginov stated on Quora in response to the question, “How do X86/CISC compilers compare with ARM/RISC compilers in performance and features?” “Compiler performance means almost nothing, it matters very little if program is compiled 30 seconds or 60 seconds.” This quote demonstrates the indifference with prejudice of compilation complexity of many software developers. It is taught by many universities that compilation time should not matter if runtime performance can be improved. This project goes against the trend by intentionally determining compilation time and space complexity because the hardware is the primary concern instead of the software or end user experience.</p>
<p>Programs will be compiled to Low Level Virtual Machine (LLVM) Intermediate Representation (IR) and cross compiled to machine code of CISC architectures such as x86 variants and other ISAs if available such as Motorola 68k, Z80, etc. RISC ISAs such as ARM, RISC-V, and PowerPC may also be selected. Program source code that compiles into SIMD instructions are expected to have the highest variance because those will be simplified the biggest difference between RISC and CISC architectures. Unfortunate for this hypothesis, Even ARM A and R series CPUs now have a Single Input Multiple Data (SIMD) instruction set, called AMD NEON to compete against the CISC x86 Streaming SIMD Extensions (SSE). A lot of care and additional thought is needed to accurately measure variance between CISC and RISC architectures in with enough equivalence to draw conclusions from its findings.</p>
<p>References:</p>
<p><a href="https://developers.redhat.com/blog/2019/05/15/2-tips-to-make-your-c-projects-compile-3-times-faster/"><strong><a href="https://developers.redhat.com/blog/2019/05/15/2-tips-to-make-your-c-projects-compile-3-times-faster/">https://developers.redhat.com/blog/2019/05/15/2-tips-to-make-your-c-projects-compile-3-times-faster/</a></strong></a></p>
<p><a href="https://www.watelectronics.com/what-is-risc-and-cisc-architecture/"><strong><a href="https://www.watelectronics.com/what-is-risc-and-cisc-architecture/">https://www.watelectronics.com/what-is-risc-and-cisc-architecture/</a></strong></a></p>
<p><a href="https://techdifferences.com/difference-between-risc-and-cisc.html"><strong><a href="https://techdifferences.com/difference-between-risc-and-cisc.html">https://techdifferences.com/difference-between-risc-and-cisc.html</a></strong></a></p>
<p><a href="https://cs.stanford.edu/people/eroberts/courses/soco/projects/risc/risccisc/"><strong><a href="https://cs.stanford.edu/people/eroberts/courses/soco/projects/risc/risccisc/">https://cs.stanford.edu/people/eroberts/courses/soco/projects/risc/risccisc/</a></strong></a></p>
<p><a href="https://cs.lmu.edu/~ray/notes/ir/"><strong><a href="https://cs.lmu.edu/~ray/notes/ir/">https://cs.lmu.edu/~ray/notes/ir/</a></strong></a></p>
<p><a href="https://www.quora.com/How-do-X86-CISC-compilers-compare-with-ARM-RISC-compilers-in-performance-and-features"><strong><a href="https://www.quora.com/How-do-X86-CISC-compilers-compare-with-ARM-RISC-compilers-in-performance-and-features">https://www.quora.com/How-do-X86-CISC-compilers-compare-with-ARM-RISC-compilers-in-performance-and-features</a></strong></a></p>
<p><a href="https://archive.arstechnica.com/cpu/4q99/risc-cisc/rvc-5.html#Branch"><strong><a href="https://archive.arstechnica.com/cpu/4q99/risc-cisc/rvc-5.html#Branch">https://archive.arstechnica.com/cpu/4q99/risc-cisc/rvc-5.html#Branch</a></strong></a></p>
<p><a href="http://www.borrett.id.au/computing/art-1991-06-02.htm"><strong><a href="http://www.borrett.id.au/computing/art-1991-06-02.htm">http://www.borrett.id.au/computing/art-1991-06-02.htm</a></strong></a></p>
<p><a href="https://www.researchgate.net/publication/2794870_Performance_from_Architecture_Comparing_a_RISC_and_a_CISC_with_Similar_Hardware_Organization"><strong><a href="https://www.researchgate.net/publication/2794870_Performance_from_Architecture_Comparing_a_RISC_and_a_CISC_with_Similar_Hardware_Organization">https://www.researchgate.net/publication/2794870_Performance_from_Architecture_Comparing_a_RISC_and_a_CISC_with_Similar_Hardware_Organization</a></strong></a></p>
<p><a href="https://en.wikipedia.org/wiki/Complex_instruction_set_computer"><strong><a href="https://en.wikipedia.org/wiki/Complex_instruction_set_computer">https://en.wikipedia.org/wiki/Complex_instruction_set_computer</a></strong></a></p>
<p><a href="http://www.cs.cornell.edu/courses/cs3410/2019sp/schedule/slides/09-isa-notes-bw.pdf"><strong><a href="http://www.cs.cornell.edu/courses/cs3410/2019sp/schedule/slides/09-isa-notes-bw.pdf">http://www.cs.cornell.edu/courses/cs3410/2019sp/schedule/slides/09-isa-notes-bw.pdf</a></strong></a></p>
<p><a href="http://www.mscs.mu.edu/~rge/cosc2200/homework-fall2013/Readings/RISC-CISC.pdf"><strong><a href="http://www.mscs.mu.edu/~rge/cosc2200/homework-fall2013/Readings/RISC-CISC.pdf">http://www.mscs.mu.edu/~rge/cosc2200/homework-fall2013/Readings/RISC-CISC.pdf</a></strong></a></p>
<p><a href="https://www.cs.princeton.edu/courses/archive/spr03/cs320/notes/IR-trans1.pdf"><strong><a href="https://www.cs.princeton.edu/courses/archive/spr03/cs320/notes/IR-trans1.pdf">https://www.cs.princeton.edu/courses/archive/spr03/cs320/notes/IR-trans1.pdf</a></strong></a></p>
<p><a href="http://www.cis.udel.edu/~pollock/471/project2spec.pdf"><strong><a href="http://www.cis.udel.edu/~pollock/471/project2spec.pdf">http://www.cis.udel.edu/~pollock/471/project2spec.pdf</a></strong></a></p>
<p><a href="http://llvm.org/pubs/2004-01-30-CGO-LLVM.pdf"><strong><a href="http://llvm.org/pubs/2004-01-30-CGO-LLVM.pdf">http://llvm.org/pubs/2004-01-30-CGO-LLVM.pdf</a></strong></a></p>
<p><a href="https://llvm.org/pubs/2009-10-TereiThesis.pdf"><strong><a href="https://llvm.org/pubs/2009-10-TereiThesis.pdf">https://llvm.org/pubs/2009-10-TereiThesis.pdf</a></strong></a></p>
